<div th:fragment="scripts" th:remove="tag">
  <!-- Jquery Core Js -->
  <script th:src="@{plugins/jquery/jquery.min.js}"></script>

  <!-- Bootstrap Core Js -->
  <script th:src="@{plugins/bootstrap/js/bootstrap.js}"></script>

  <!-- Select Plugin Js -->
  <script th:src="@{plugins/bootstrap-select/js/bootstrap-select.js}"></script>

  <!-- Slimscroll Plugin Js -->
  <script th:src="@{plugins/jquery-slimscroll/jquery.slimscroll.js}"></script>

  <!-- Waves Effect Plugin Js -->
  <script th:src="@{plugins/node-waves/waves.js}"></script>

  <!-- Jquery Validation Plugin Css -->
  <script th:src="@{plugins/jquery-validation/jquery.validate.js}"></script>

  <!-- JQuery Steps Plugin Js -->
  <script th:src="@{plugins/jquery-steps/jquery.steps.js}"></script>

  <!-- Sweet Alert Plugin Js -->
  <script th:src="@{plugins/sweetalert/sweetalert.min.js}"></script>

  <!-- Bootstrap Material Datetime Picker Plugin Js -->
  <script th:src="@{plugins/bootstrap-material-datetimepicker/js/bootstrap-material-datetimepicker.js}"></script>

  <!-- Bootstrap Datepicker Plugin Js -->
  <script th:src="@{plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>

  <!-- Autosize Plugin Js -->
  <script th:src="@{plugins/autosize/autosize.js}"></script>

  <!-- Moment Plugin Js -->
  <script th:src="@{plugins/momentjs/moment.js}"></script>

  <!-- Custom Js -->
  <script th:src="@{js/admin.js}"></script>
  <script th:src="@{js/pages/examples/sign-up.js}"></script>
  <script th:src="@{js/pages/forms/form-wizard.js}"></script>
  <script th:src="@{js/pages/forms/basic-form-elements.js}"></script>

  <!-- Demo Js -->
  <script src="@{js/demo.js}"></script>
</div>