<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/head :: header('Editar graduación')"> .. </div>
<body>
<br>
<a th:href="@{/}"><h2>Regresar al inicio</h2></a>
<br/>
<h1 th:text="'Modificar graduación del el paciente ' + ${prescription.patient.getFullName()}">Edit Prescription</h1>
<form action="#" th:action="@{/graduaciones/actualizar/{id}(id=${prescription.id})}" th:object="${prescription}" method="post">
  <label>Ojo Derecho:</label>
  <input type="text" th:field="*{rightEye}"/>
  <label>Ojo Izquierdo:</label>
  <input type="text" th:field="*{leftEye}"/>
  <label>Adición:</label>
  <input type="text" th:field="*{add}"/>
  <label for="observations">Observaciones:</label>
  <textarea id="observations" name="observations" rows="4" cols="50" th:field="*{observations}"></textarea>
  <input type="hidden" th:field="*{patient.id}" required/>
  <button type="submit">Actualizar</button>
</form>
<a th:href="@{/graduaciones/paciente/{id}(id=${prescription.patient.id})}">Cancelar</a>

<div th:replace="layouts/scripts :: scripts"></div>
</body>
</html>