<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<div th:replace="layouts/head :: header('Editar paciente')"> .. </div>
<body>
<br>
<a th:href="@{/}"><h2>Regresar al inicio</h2></a>
<br/>
<h1>Editar paciente</h1>
<form action="#" th:action="@{/actualizar/{id}(id=${patient.id})}" th:object="${patient}" method="post">
  <label>Nombre:</label>
  <input type="text" th:field="*{name}" required/>
  <label>Apellidos:</label>
  <input type="text" th:field="*{lastName}" required/>
  <label for="gender">Sexo:</label>
  <select id="gender" th:field="*{gender}">
    <option value="N">No especificado</option>
    <option value="M">Masculino</option>
    <option value="F">Femenino</option>
  </select>
  <label>Teléfono:</label>
  <input type="tel" th:field="*{phoneNumber}"/>
  <label>Email:</label>
  <input type="email" th:field="*{email}"/>
  <button type="submit">Actualizar</button>
</form>
<a th:href="@{/}">Cancelar</a>

<div th:replace="layouts/scripts :: scripts"></div>
</body>
</html>