<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <div th:replace="layouts/head :: header('Pacientes')"> .. </div>
  <body>
  <br>
  <a th:href="@{/}"><h2>Regresar al inicio</h2></a>
  <br/>
    <h1>Pacientes</h1>
    <a th:href="@{/nuevo}">Registrar nuevo paciente</a>
    <form th:action="@{/buscar}" method="get"><br>
      <label for="inputFindNamePatient">Buscar paciente</label>
      <input type="text" name="inputFindNamePatient" id="inputFindNamePatient" />
      <button type="submit">Buscar</button>
    </form>
    <table>
      <tr>
        <th>Nombre</th>
        <th>Ojo Derecho</th>
        <th>Ojo Izquiero</th>
        <th>Adición</th>
        <th>Observaciones</th>
        <th>Acciones</th>
      </tr>
        <tr th:each="patient : ${patients}">
          <td th:text="${patient.name} + ' ' + ${patient.lastName}"></td>
          <td th:text="${patient.rightEye}"></td>
          <td th:text="${patient.leftEye}"></td>
          <td th:text="${patient.add}"></td>
          <td th:text="${patient.observations}"></td>
          <td>
            <a th:href="@{/graduaciones/{prescriptionId}/editar(prescriptionId=${patient.prescriptionId})}">Editar graduación</a>
            <a th:href="@{/graduaciones/nueva/paciente/{id}(id=${patient.id})}">Nueva graduación</a>
            <a th:href="@{/graduaciones/paciente/{id}(id=${patient.id})}">Historial</a>
            <a th:href="@{/{id}/editar(id=${patient.id})}">Editar paciente</a>
          </td>
        </tr>
    </table>

    <div th:replace="layouts/scripts :: scripts"></div>
  </body>
</html>